section.services.wrap
    .block-profi
        h2.subtitle Take a look at our professional services
        .profi-cont
            article.profi-cont-block
                .profi__img.img_house
                h3.profi__title House cleaning
                span.profi__txt Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quia tenetur repellendus corrupti perspiciatis natus consectetur!
            article.profi-cont-block
                .profi__img.img_office
                h3.profi__title Office cleaning
                span.profi__txt Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quia tenetur repellendus corrupti perspiciatis natus consectetur!
            article.profi-cont-block
                .profi__img.img_industrial
                h3.profi__title  Industrial cleaning
                span.profi__txt Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quia tenetur repellendus corrupti perspiciatis natus consectetur!
    .block-covid
        .covid__img 
        .covid-cont 
            span.covid__info Covid-19 sanitization
            h2.subtitle.subtitle_white We follow guidelines to keep you safe from the COVID-19 virus
            p.covid__txt Lobortis mattis odio leo eget mauris met aliquet semper molestie sollicitudin congue massa mauris lectus.
            .block-btn 
                include ../../pug/libs/_btnMain
                include ../../pug/libs/_btnCol
