section.sub-title.wrap
    .sub-title-cont 
        h1.title Quality cleaning for your home
        p.sub-title__txt Condimentum mauris sit cursus amet id non neque pharetra nulla ornare sed facilisis senectus dapibus nibh ultrices eget suscipit aliquet et nulla magna lacus penatibus.
        .block-btn 
            include ../../pug/libs/_btnMain
            include ../../pug/libs/_btnCol
    .sub-title__bg