h1{
    color: red;
}
.logo{
    width: 176.05px;
    height: 32.4px;
    background: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.wrap{
    padding: 0 90px;
    display: grid;
    grid-template-columns:  repeat(12, 1fr);
    grid-auto-rows: minmax(75px, auto);
    column-gap: 10px;
    align-items: center;
}