section.contacts.wrap
    .contacts-us 
        h4.contacts-block__title Contact us
        p.contacts-us-cont 
            span.contacts-us__txt 1827 Nickel Road, Los Angeles, CA, 90017, United States
            span.contacts-us__txt (414) 567 - 2109
            span.contacts-us__txt contact@cleaning.com
    .contacts-hours
        h4.contacts-block__title Hours
        .hours-block
            h4.contacts-block__title Monday to Friday
            span.contacts-block__txt 6:00 AM - 9:00 PM
        .hours-block
            h4.contacts-block__title Saturday, Sunday
            span.contacts-block__txt 8:00 AM - 8:00 PM
    .contacts-free   
        h4.contacts-block__title Get a free estimate
        button.btn.btn-col
            .btn-col-cont 
                span.tel__title Call us now
                span.tel__main (414) 567 - 2109
        p.contacts-free__txt Lorem ipsum dolor sit amet ectetur adipiscing elit, sed do eiusmod.
        include ../../pug/libs/_btnMain