doctype html
html(lang="en")
    include pug/_head
    body 
        include blocks/header-page/_index
        main
            include blocks/sub-title/_index
            include blocks/serveces/_index